.tt{
    color:#ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}

h3, h6{
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

ion-toolbar {
    --background: #f20e45; 
    --color: #ffffff; 
}

ion-fab-button {
    --background: #ffffff; 
    --color: #000000; 
}

ion-label, ion-item-options{
    background-color: #eee5e8;
}

  